@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <h1>Six Nations 2017</h1>
    <p class="lead">This application allows users to add the scoring information of each player who competed in the Six Nations 2017. 
    Please select @Html.ActionLink("Players", "Index", "Players")
     in the navigation bar to get started</p>
</div>